<form action="http://localhost:3000/ingredients" method = "post">
    <div>
        <label for="name">Nom de l'ingrédient à ajouter:</label>
        <input type="text" id="name" value="Pomme de test"><br>
    </div>
    <div>
        <label for="unit">Unité :</label>
        <input type="text" id="unit" value="kg"><br>
    </div>
    <div>
        <label for="availableQuantity">availableQuantity :</label>
        <input type="number" id="availableQuantity" value="200"><br>
    </div>
    <div>
        <label for="unitPrice">unitPrice :</label>
        <input type="number" id="unitPrice" value="1.5"><br>
    </div>
    <div>
        <label for="isAllergenic">isAllergenic :</label>
        <input type="text" id="isAllergenic" value="false"><br>
    </div>
    <input type="submit" value="Submit">
  </form>