<section class="container">
  <h2 class="center-align">
    Création d'une recette
  </h2>
  <div *ngIf="this.recipeGroup" class="row">
    <form [formGroup]="recipeGroup" (ngSubmit)="validate()" class="col s12">
      <div class="input-field col s6">
        <input id="name" type="text" class="validate" formControlName="name" required>
        <label for="name" [ngClass]="{'active': recipeGroup.get('name')?.value != ''}">Nom </label>
      </div>

      <div class="input-field col s6">
        <input id="responsable" type="text" class="validate" formControlName="responsable" required>
        <label for="responsable">Responsable </label>
      </div>

      <div class="input-field col s6">
        <input id="nbOfCover" type="number" class="validate" formControlName="nbOfCover" required min = "0">
        <label for="nbOfCover" [ngClass]="{'active': recipeGroup.get('nbOfCover')?.value != null}">Nombre de couvert </label>
      </div>

      <div class="input-field col s6">
        <input id="category" type="text" class="validate" formControlName="category" required>
        <label for="category">Catégorie </label>
      </div>

      <div class="input-field col s12"> <!-- Div où on va ajouter les nouvelles étapes -->
        <div *ngFor="let el of stepOrRecipeToShow; let i = index" style = "display: block;">
          <!-- Template ajout ingrédient -->
          <div class = "col s12">
            <button type = "button" class = "btn" (click) = "deleteStepOrRecipe(i)">
              Suppr
            </button>
            <button class="btn-floating" 
              *ngIf = "(i > 0) && (this.stepOrRecipeToShow.length > 1)"
              (click) = "adjustPosition(i, -1)"
              >
              monter
            </button>
            <button class="btn-floating" 
              *ngIf = "(i + 1 != this.stepOrRecipeToShow.length) && (this.stepOrRecipeToShow.length > 1)"
              (click) = "adjustPosition(i, 1)" 
            >
              descendre
            </button>
            <div *ngIf = "isStep(el); else elseBlock">
              <app-create-step [stepGroup] = "getStepGroup(i)" [formIdEnd] = "i" [step] = "getStep(i)">

              </app-create-step>
            </div>

            <ng-template #elseBlock>
              <h3>
                {{ el.name }}
              </h3>
              <button *ngIf = "el.id" class = "btn" type = "button" (click) = "moveToRecipeById(el.id)">
                Voir la recette
              </button>
            </ng-template>
            <hr />
          </div>
        </div>
      </div>

      <div class="col s12 center-align">
        <button type="submit" class="waves-effect waves-light btn" [disabled] = "! this.recipeGroup.valid">
          Valider
        </button>

        <button type = "button" class="btn purple darken-1" (click) = "addStep()">
          Ajouter une étape
        </button>
        <br>
        <div class="input-field col s8 offset-s2">
          <select (ngModelChange)="change($event)" #selectedRecipe (change) = "changeSelect($event, selectedRecipe.value)">
            <option value="" disabled selected></option>
            <option *ngFor="let al of recipe_list" [value]="al.id">
              {{al.name}}
            </option>
          </select>
          <label>Recettes associées</label>
        </div>
      </div>
    </form>
  </div>
</section>
