<section class="container">
  <h2 class="center-align">
    Ajouter un allergen
  </h2>
  <div *ngIf="this.allergenGroup" class="row">
    <form [formGroup]="allergenGroup" (ngSubmit)="validate()" class="col s12">
      <div class="input-field col s6 offset-s3">
        <input id="allergen_name" type="text" class="validate" formControlName="allergen_name" required>
        <label for="allergen_name">Nom </label>
      </div>

      <div class="col s12 center-align">
        <button type="submit" class="waves-effect waves-light btn" [disabled]="! this.allergenGroup.valid">
          Valider
        </button>
      </div>
    </form>
  </div>
</section>