<section>
  <div *ngIf="this.denreeGroup" class="row">
    <form [formGroup]="denreeGroup" class="col s10 offset-s1">
      <div class="input-field col s6">
        <select formControlName="ingredient" (ngModelChange)="change($event)">
          <option value="" disabled selected>Choisissez un ingrédient</option>

          <option *ngFor="let ingredient of ingredient_list" [value]="ingredient.id">
            {{ingredient.name}}
          </option>

        </select>
        <label>L'ingredient lié au produit</label>
      </div>

      <div class="input-field col s6">
        <input id="quantity" type="number" class="validate" formControlName="quantity">
        <label for="quantity">Quantité </label>
      </div>
    </form>
  </div>
</section>