<section class="container">
  <h2 class="center-align">
    Vos allergènes
  </h2>

  <table class="striped highlight">
    <!-- responsive-table -->
    <thead>
      <tr>
        <th>Nom</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aller of (allergens | async)">
        <th>{{ aller.allergen_name }}</th>

        <th>
          <button class="waves-effect waves-light btn-small red" (click)="deleteAllergen(aller)">Supprimer</button>
        </th>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>
</section>
