<ul id="ingredients" class="dropdown-content margin-nav">
    <li>
        <a href="/ingredients">
            Voir tout
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="/ingredients/add">
            Ajouter
        </a>
    </li>
</ul>


<ul id="allergens" class="dropdown-content margin-nav">
  <li>
    <a href="/allergens">
      Voir tout
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/allergens/add">
      Ajouter
    </a>
  </li>
</ul>

<ul id="recipe" class="dropdown-content margin-nav">
  <li>
    <a href="/recipe">
      Voir tout
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/recipe/add">
      Ajouter
    </a>
  </li>
</ul>

<nav class = "purple">
    <div class="nav-wrapper container">
      <a href="#" data-target="mobile" class="sidenav-trigger">MENU</a>
        <a href="/" class="brand-logo">
            Restaurant
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-trigger" href="#!" data-target="ingredients">
                    Ingrédients
                </a>
            </li>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="allergens">
              Allergens
            </a>
          </li>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="recipe">
              Recettes
            </a>
          </li>
            <!-- <i class="material-icons right">arrow_drop_down</i> -->
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul>
