<ul id="ingredients" class="dropdown-content margin-nav">
    <li>
        <a href="/ingredients">
            Voir tout
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="/ingredients/add">
            Ajouter
        </a>
    </li>
</ul>


<ul id="allergens" class="dropdown-content margin-nav">
  <li>
    <a href="/allergens">
      Voir tout
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/allergens/add">
      Ajouter
    </a>
  </li>
</ul>

<ul id="recipe" class="dropdown-content margin-nav">
  <li>
    <a href="/recipe">
      Voir tout
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/recipe/add">
      Ajouter
    </a>
  </li>
</ul>

<ul id="step" class="dropdown-content margin-nav">
  <li>
    <a href="/step">
      Voir tout
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/step/add">
      Ajouter
    </a>
  </li>
</ul>
<nav class = "purple">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">
            Les TOTOS
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-trigger" href="#!" data-target="ingredients">
                    Ingrédients
                </a>
            </li>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="allergens">
              Allergens
            </a>
          </li>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="recipe">
              Recettes
            </a>
          </li>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="step">
              steps
            </a>
          </li>
            <!-- <i class="material-icons right">arrow_drop_down</i> -->
        </ul>
    </div>
</nav>
