<section>
  <div *ngIf="this.denreeGroup" class="row">
    <form [formGroup]="denreeGroup" class="col s10 offset-s1">
      <div class="input-field col s6">
        <select id="selectDenree-{{formIdEnd}}" formControlName="ingredient" (ngModelChange)="change($event)" required>
          <option value="" disabled selected>Choisissez un ingrédient</option>

          <option *ngFor="let ingredient of ingredient_list" [value]="ingredient.id">
            {{ingredient.name}}
          </option>

        </select>
        <label for="selectDenree-{{formIdEnd}}">L'ingredient lié au produit</label>
      </div>

      <div class="input-field col s6">
        <input id="quantity-{{formIdEnd}}" type="number" class="validate" formControlName="quantity" min="0" required>
        <label for="quantity-{{formIdEnd}}" [ngClass]="{'active': denreeGroup.get('quantity')?.value != ''}">Quantité
        </label>
      </div>
    </form>
  </div>
</section>