<!-- Ceci est notre page d'accueil -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <!-- navbar -->
        <div class="navbar-fixed">
            <app-nav-bar>

            </app-nav-bar>
        </div>
    </header>
    <main>
        <router-outlet>

        </router-outlet>
    </main> 
    <app-footer>

    </app-footer>
</body>
</html>