<section class="container">
  <div *ngIf="recipe" class="row ">
    <div>
      <h1 class="center-align"> {{recipe.name}}</h1>
      <div class="col s12 m6">
        <div class="card-panel">
         <span class="">
           Responsable : {{recipe.responsable}}
         </span>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel">
         <span class="">
           Nombre de couverts : {{recipe.nbOfCover}}
         </span>
        </div>
      </div>
    </div>
    <div *ngFor="let step of (steps)" class="col s12">
      <app-denree-info [denrees]="(step).denreeUsed"></app-denree-info>
      <div class="col s12 m6">
        <div class="card-panel">
          <table>
            <thead>
            <tr>
              <th>{{step.name}}</th>
              <th>Durée</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><span class="">{{step.description}}</span></td>
              <td><span>{{step.duration}}</span></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div>
      <h1 class="center-align">Affichage des couts</h1>
      <app-cost [recipe]="recipe"></app-cost>
      <h1 class="center-align"> Liste des ingrédients nécessaires</h1>
        <app-denree-info [denrees]="denrees"></app-denree-info>

    </div>
  </div>


  <router-outlet></router-outlet>
</section>

