<section *ngIf="!id; else RecipInRecip" class="container">
  <div *ngIf="recipe" class="row ">
    <div>
      <h1 class="center-align"> {{recipe.name}}</h1>
      <div class="col s12 m6">
        <div class="card-panel">
         <span class="">
           Responsable : {{recipe.responsable}}
         </span>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel">
         <span class="">
           Nombre de couverts : {{recipe.nbOfCover}}
         </span>
        </div>
      </div>
    </div>
    <div *ngFor="let stepOrRecip of (recipe!.listOfSteps)" class="col s12">
      <div *ngIf="contain(stepOrRecip.id) as step; else recipComponent">
        <div class="col s12 m6">
          <div class="card-panel ">
            <table>
              <thead>
              <tr>
                <th>Denrées</th>
                <th>Unités</th>
                <th>Quantités</th>
              </tr>
              </thead>
              <tbody>
<!--               <tr *ngFor="let ingre of (step).listIngredient">
                <td>{{ingre.name}}</td>
                <td>{{ingre.unit}}</td>
                <td>not implemented yet</td>
              </tr> -->
              </tbody>
            </table>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card-panel">
            <table>
              <thead>
              <tr>
                <th>{{step.name}}</th>
                <th>Durée</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td><span class="">{{step.description}}</span></td>
                <td><span>{{step.duration}}</span></td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <ng-template #recipComponent>
        <app-recipe-info  [id]="stepOrRecip.id!"></app-recipe-info>
      </ng-template>
    </div>

  </div>

  <router-outlet></router-outlet>
</section>

<ng-template #RecipInRecip >
  <div *ngFor="let stepOrRecip of (recipe!.listOfSteps)" class="col s12">
    <div *ngIf="contain(stepOrRecip.id) as step; else recipComponent">
      <div class="col s12 m6">
        <div class="card-panel ">
          <table>
            <thead>
            <tr>
              <th>Denrées</th>
              <th>Unités</th>
              <th>Quantités</th>
            </tr>
            </thead>
            <tbody>
            <!-- <tr *ngFor="let ingre of (step).listIngredient">
              <td>{{ingre.name}}</td>
              <td>{{ingre.unit}}</td>
              <td>not implemented yet</td>
            </tr> -->
            </tbody>
          </table>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card-panel">
          <table>
            <thead>
            <tr>
              <th>{{step.name}}</th>
              <th>Durée</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td><span class="">{{step.description}}</span></td>
              <td><span>{{step.duration}}</span></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <ng-template #recipComponent>
      <app-recipe-info  [id]="stepOrRecip.id!"></app-recipe-info>
    </ng-template>
  </div>
</ng-template>
