<section *ngIf="recipe" class="container">
  <h1 class="center-align"> {{recipe.name}}</h1>
  <div class="row ">

    <div class="col s12 m6">
      <div class="card-panel">
         <span class="white-text">
           Responsable : {{recipe.responsable}}
         </span>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel">
         <span class="white-text">
           Nombre de couverts : {{recipe.nbOfCover}}
         </span>
      </div>
    </div>
    <div *ngFor = "let step of (steps)"class="card-panel ">
      <div class="col s12 m6">
        <div class="card-panel teal">
          <table>
            <thead>
            <tr>
              <th>Denrées</th>
              <th>Unités</th>
              <th>Quantités</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor ="let ingre of (step | async)?.getSteps()">
              <td>{{(step | async)?.id}}</td>
              <td>{{ingre.name}}</td>
              <td>not implemented yet</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card-panel teal">
          <table>
            <thead>
            <tr>
              <th></th>
              <th>Durée</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td> <span class="white-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span></td>
              <td>7 minutes</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</section>
